<div class="max-w-9xl ml-2 mx-auto py-6 sm:px-6 lg:px-8">
  <header>
    <h1 class="text-2xl font-bold text-gray-900 mb-2">Cases By Country</h1>
  </header>
  <div class="border-t border-gray-200 mb-5"></div>
  <%= geo_chart CaseDetails::CaseDetail.joins(:country).group('countries.name').count, width: 200, height: 40, label: 'Cases', options: {background_color: '#548999'} %>
</div>