<div class="flex w-full mx-auto mt-4 justify-between">
  <h2 class="font-bold text-l text-gray-900 mt-4">Related Development Projects</h2>
</div>
<% @development_projects.each do |development_project| %>
  <div class="grid grid-cols-1 md:grid-cols-12">
    <div class="col-span-3 ml-4 mt-2">
      <p class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"> Project Name </p>
    </div>
    <div class="col-span-1">
    </div>
    <div class="col-span-7 mt-2">
      <p class="text-gray-500"></p>
    </div>
  </div>
<% end %>
