<div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
    <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
      <div class="overflow-hidden">
        <table class="mt-2 min-w-full">
          <%= render 'case_details/tables/headers' %>
          <tbody>
              <% case_details.each do |case_detail| %>
                <%= link_to documenters_case_detail_path(case_detail) do %>
                  <%=render 'case_details/tables/row', case_detail: case_detail %>
                <% end %>
              <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
