<!-- app/views/criminalizations/_show_row.html.erb -->
<div class="flex justify-between border-b border-gray-100 pb-2">
  <div class="font-bold text-gray-700 w-1/2 pr-4"><%= label %></div>
  <div class="text-gray-900 w-1/2 text-left whitespace-pre-wrap"><%= value.presence || '—' %></div>
</div>