<%= render '/ip_rights/shared/sidebar', current_step: 7, step_name: "Related Development Projects", percent_finished: 100 %>
  <div data-controller="impact-and-action-form" class="col-span-9">

    <div class="flex justify-between mt-5 mr-5">
    <h2 class="font-bold text-xl text-gray-900">Development Projects</h2>

     <a href="/ip_rights/case_details/<%=@case_detail.id%>/development_projects/new"type="submit" class="inline-flex py-2 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
              Add Project
            </a>
    </div>
  </div>
    <div class="border-t border-gray-200 mt-5"></div>
<div class="flex flex-col justify-center items-center pt-10">
    <a href="/documenters/case_details" class="inline-flex py-4 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-900 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-700"> Submit Case Factsheet </a>
</div>