<div class="grid grid-cols-12 min-h-screen">
  <%= render '/ip_rights/shared/sidebar', current_step: 7 %>

  <div class="col-span-9 bg-white py-10 px-5">
  <div data-controller="impact-and-action-form" class="col-span-9 bg-white py-10 px-5">

  <div class="flex justify-between pt-5">
    <div class="cols">
    <h2 class="font-bold text-xl text-gray-900">Development Projects</h2>
    </div>
    <div class="cols">
     <a href="/ip_rights/case_details/<%=@case_detail.id%>/development_projects/new"type="submit" class="inline-flex py-2 px-2 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
              Add Project
            </a>
    </div>
  </div>
    <div class="border-t border-gray-200 mt-5"></div>
