<div class="grid grid-cols-12 min-h-screen">
   <div class="col-span-3 bg-green-700">
    <h1 class="pt-10 pl-4 font-bold py-5 px-10"> Step 6/7:</h1>
    <h3 class="font-bold pl-8 pt-4 align-middle"><i class="fa fa-circle fa-2x"></i> <span class="pl-4">Documenter Details</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Data Sharing Agreement</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Incident Details</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-top pl-4 pb-2">Victims</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Human Rights Viloations</span></h3>
    <h3 class="font-bold pl-8 pt-4 bg-green-800"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Impact and Actions Taken</span></h3>
    <h3 class="font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="inline-block align-text-bottom pl-4">Development Projects</span></h3>
  </div>
  <div data-controller="killing-form" class="col-span-9 bg-white py-10">
    <%= simple_form_for @development_project, url: :ip_rights_case_detail_development_projects do |f| %>
    <div class="max-w-7xl mx-auto lg:px-0">
      <h2 class="font-bold text-xl text-gray-900">Details of Development Project</h2>
      <div class="border-t border-gray-200 mt-4"></div>
        <div class="px-4 py-5  space-y-4 sm:p-6">
        <%= f.input :project_name, label: "Name of development project" %>
    <% end %>
