<div class="pt-5 pb-5 bg-gray-50 overflow-hidden w-full">
    <div class="container m-auto px-6 space-y-8 text-gray-500 md:px-12">
        <div class="flex justify-between">
          <h2 class="text-2xl text-gray-900 font-bold">Documenters</h2>
            <%= link_to "New Documenter", new_admin_documenter_path, class: "text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 focus:outline-none" %>
        </div>
    </div>
</div>
<hr class="mb-6 border-t" />


<table class="table w-full p-4 bg-white shadow rounded-lg">
    <thead>
        <tr>
            <th class="text-left font-bold border-b-2 p-4 whitespace-nowrap text-gray-900">
                Email
            </th>
            <th class="text-left border-b-2 p-4 whitespace-nowrap font-bold text-gray-900">
                First name
            </th>
            <th class="text-left border-b-2 p-4 whitespace-nowrap font-bold text-gray-900">
                Last name
            </th>
        </tr>
    </thead>
    <tbody>

          <% @documenters.each do |documenter| %>
           <tr class="text-gray-700">
            <td class="text-left border-b-2 p-4">
                <%= documenter.email %>
            </td>
            <td class="border-b-2 p-4">
                <%= documenter.first_name %>
            </td>
            <td class="border-b-2 p-4">
                <%= documenter.last_name %>
            </td>
            </tr>
          <% end %>

    </tbody>
</table>
