
<div class="grid grid-cols-12 min-h-screen">
  <div class="col-span-3 bg-green-500">
    <h1 class="pt-10 pl-4 font-bold py-5 px-10"> Step 5/7:</h1>
    <h3 class="pl-2 font-bold pl-8 pt-4 align-middle"><i class="fa fa-circle fa-2x"></i> <span class="pl-4">Documenter Details</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Data Sharing Agreement</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Incident Details</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Victims</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle fa-2x"></i> <span class="align-middle pl-4 pb-2">Human Rights Violoations</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="align-middle pl-4 pb-2">Actions Taken</span></h3>
    <h3 class="pl-2 font-bold pl-8 pt-4"><i class="fa fa-circle-o fa-2x"></i> <span class="inline-block align-text-bottom pl-4">Development Projects</span></h3>
  </div>
  <div class="col-span-9 bg-white py-10 px-5">
    <h2 class="font-bold text-xl text-gray-900">Categories of Incidents of Human Rights Violations </h2>
          <div class="border-t border-gray-200 mt-4"></div>

    <div class="items-center px-4 py-4">
    <h2 class="font-bold text-xl text-gray-900">Criminalization </h2>
      <p class="mt-1 text-sm text-gray-600 my-4"> Defined as the misuse of criminal laws that involves the manipulation of the punitive power of the State and non-state actors in order to control, punish and/or prevent the exercise of the right to defend human rights. It can also occur when state and non-state actors use and misuse their position of power, even without using any laws/policies, to control, punish and/or prevent the exercise of Indigenous Peoples’ right to defend their individual and collective rights (E.g. trumped-up charges, red-tagging, or accusing of individuals/organizations as terrorist groups/as enemy of the State, illegal detention, etc.) </p>
        <a href="/fact_sheets/temp_fact_sheets/<%=@temp_fact_sheet.id%>/criminalizations/new"type="submit" class="inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Add Details
        </a>
    </div>
          <div class="border-t border-gray-200 mt-4"></div>

    <div class="items-center px-4 py-4">
    <h2 class="font-bold text-xl text-gray-900 py-4">Killing </h2>
        <a href="/fact_sheets/temp_fact_sheets/<%=@temp_fact_sheet.id%>/individual_victims/new"type="submit" class="inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Add Details
        </a>
    </div>
          <div class="border-t border-gray-200 mt-4"></div>

    <div class="items-center px-4 py-4">
    <h2 class="font-bold text-xl text-gray-900">Other Types of Human Rights Violation </h2>
      <p class="mt-1 text-sm text-gray-600 my-4">  Refers to any other incident of human rights violations that are neither criminalization nor killing, and are linked to the protection and defense of Indigenous Peoples’ on their rights to lands, territories and natural resources, self-government, cultural integrity. (E.g., attacks against life and security (except killings) like torture, enforced disappearance, kidnapping, illegal detention, sexual harassment, violation of collective right to free, prior and informed consent (FPIC), forced eviction, displacement, land grabbing etc.) </p>
        <a href="/fact_sheets/temp_fact_sheets/<%=@temp_fact_sheet.id%>/individual_victims/new"type="submit" class="inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Add Details
        </a>
    </div>

<div class="px-4 py-3 bg-gray-100 text-right sm:px-6">
                 <a href="/fact_sheets/temp_fact_sheets/<%=@temp_fact_sheet.id%>/human_rights_violations"type="submit" class="inline-flex py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-green-500">
          Next
        </a>
              </div>


