<tr class="border-b">
  <td scope="row" class="py-4 px-6 font-medium text-gray-900 whitespace-nowrap">
    <%= link_to killing.victim.try(:full_name) || "No Information", killing_path(killing) %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
    <%= killing.killing_details %>
  </td>
  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">

  </td>

  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">

  </td>

  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">

  </td>
</tr>
